.hero-section-badge__container {
    overflow-x: auto;
    gap: 1.2rem;
    z-index: 100;
}

@media screen and (min-width: 1000px) {
    .hero-section__content__left {
        width: 50%;
        max-width: 600px;
    }

    .hero-section__content__right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    .hero-section__content {
        display: flex;
        min-height: 70vh;
        margin-top: 3rem;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

@media screen and (max-width: 1000px) {
    .hero-section-badge__container {
        display: none;
    }

    .hero-section__content__left {
        animation: 0.5s animate-slide-up-fade-in ease-in;
        padding: 0 5vw 0 5vw;
        font-size: calc(0.7rem + 0.1vw);
    }

    .hero-section__content__right {
        display: flex;
        margin-top: 2vh;
        justify-content: center;
    }

    .hero-section__content {
        margin: 8rem 0 2.5rem;
    }
}

.hero-section-badge__link {
    padding: 0.55rem 1.2rem;
    border: 1px solid #000;
    color: #fff;
    font-weight: bold;
    font-family: "Fira Code";
    font-size: 0.75rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.hero-section-badge__link svg {
    margin-right: 0.3rem;
}

.hero-section-badge__link:hover {
    opacity: 0.6;
}

.hero-section__content__left__text {
    color: #888;
    max-width: 550px;
    font-size: 0.95rem;
}

.hero-section__heading {
    font-family: "TT Norms Pro", "Inter", "Roboto", "Helvetica Neue", "Arial",
        sans-serif;
    color: #2d2d2d;
    margin: 0;
    font-size: clamp(2em, 3.4vw, 5em) !important;
    font-size: 50px !important;
    font-weight: 700;
}

@media (min-width: 768px) {
    .hero-section__content__left__text {
        font-size: 1.125rem; /* Slightly larger on larger screens */
    }
}

@media (min-width: 1024px) {
    .hero-section__content__left__text {
        font-size: 1.25rem; /* Even larger on larger screens */
    }
}

.hero-section {
    position: relative;
    transform-style: preserve-3d;
}

.hero-section__after {
    --height: 25vh;
    width: 95vw;
    height: var(--height);
    margin-bottom: calc(-1 * var(--height) + var(--common-card-margin));
    z-index: -5;
    transform: translateY(-5%);
    background-image: radial-gradient(
        var(--background-pattern-color) 1px,
        transparent 0
    );
    background-size: 12px 12px;
    background-position: -19px -19px;

    background-color: #eeeceb;
    background-image: linear-gradient(
            var(--background-pattern-color) 1px,
            transparent 0
        ),
        linear-gradient(
            90deg,
            var(--background-pattern-color) 1px,
            transparent 0
        );
    background-size: 12px 12px;
    background-position: -19px -19px;
    mask-image: radial-gradient(ellipse at center, #fff 0%, transparent 70%),
        linear-gradient(to bottom, black 30%, transparent 100%);
}

.hero-section__text_small {
    font-size: 0.87rem;
}
