.featured-section {
    gap: 3rem 1rem;
    min-height: 400px;
    margin-bottom: 2rem;
    z-index: 1;
    padding-bottom: 1rem;
}

    .featured-section .featured-section--item {
        width: 400px;
    }

.featured-section--wrapper {
    min-height: 550px;
}

@media (max-width: 1439px) {
    .featured-section-with-before::before {
        content: "";
        display:none;
    }
}

.show-more-button-wrapper {
    margin-top: -2rem;
    transform: translateY(-50%);
    z-index: 3;
}
