REACT_APP_GITHUB_TOKEN=

AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_TRUST_HOST=https://localhost:3000
NEXTAUTH_URL=https://localhost:3000

MONGODB_URI=

NEXT_POSTGRES_DATABASE_URL=postgresql://luyangliuable:password@localhost:5433/llcode
AUTH_DRIZZLE_URL=postgresql://luyangliuable:password@localhost:5433/llcode
