.small-card {
    width: 300px;
    max-width: 80%;
    min-height: 120px;
    background-color: rgba(150, 150, 150, 0.1);
    margin-bottom: 8px;
    border-radius: 15px;
    padding: 10px;
}

.small-card h3 {
    font-size: 0.9rem;
}

.small-card__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.small-card--locked {
    opacity: 0.5;
    background-color: rgba(100, 100, 100, 0.1);
    cursor: not-allowed;
    pointer-events: none;
}

.small-card__image--locked {
    filter: grayscale(100%);
}
