\::selection {
    background: rgba(170, 170, 170, 0.3);
}

.sequential-rise-span {
    position: relative;
    visibility: hidden;
    width: 100%;
}

.sequential-rise-span > * {
    overflow-y: hidden; overflow-x: visible;
    width: max-content;
}

.sequential-rise-span > div > p {
    width: 100%; /* Adjusted to ensure wrapping within parent container. Modify as needed. */
    white-space: normal; /* Allows text to wrap */
    margin: 0;
    line-height: 117%;
}

.sequential-rise-span > div > p > span {
    display: inline; /* Ensures <span> elements are inline */
}

.sequential-rise-span {
    display: inline-block
}

.slide-up {
    display: inline-block;
    animation: slide-up 0.55s cubic-bezier(0.65, 0, 0.35, 1) both;
    visibility: visible;
}
