.cheese {
    background-color: #ffd766;
    position: relative;
    height: 4%;
    width: 98%;
    border-radius: 50px 50px 0px 0px;
}

.crown {
    background-color: #fcba7f;
    position: relative;
    height: 35%;
    width: 94%;
    border-radius: 200px 200px 0 0;
    border: 1px solid #472b29;
}

.sesame {
    background-color: #fff2cc;
    position: absolute;
    height: 2%;
    width: 4%;
    min-width: 2px;
    min-height: 1px;
    border-radius: 10px 0 0 10px;
    transform-origin: 100% 100%;
    animation: sesame 1s infinite alternate;
}

.sesame:first-child {
    top: 10%;
    left: 50%;
    rotate: 10deg;
}

.sesame:nth-child(2) {
    top: 20%;
    left: 80%;
    rotate: 20deg;
}

.sesame:nth-child(3) {
    top: 30%;
    left: 55%;
    rotate: 30deg;
}

.sesame:nth-child(4) {
    top: 50%;
    left: 20%;
    rotate: 40deg;
}

.sesame:nth-child(5) {
    top: 70%;
    left: 70%;
    rotate: 140deg;
}

.sesame:nth-child(6) {
    top: 72%;
    left: 35%;
    rotate: 60deg;
}

.sesame:nth-child(7) {
    top: 77%;
    left: 10%;
    rotate: 135deg;
}

.sesame:nth-child(8) {
    top: 80%;
    left: 60%;
    rotate: 80deg;
}

.heel {
    background-color: #fcba7f;
    position: relative;
    height: 20%;
    width: 92%;
    border-radius: 0 0 5px 5px;
    border: 1px solid #472b29;
}

.lettuce {
    background-color: #60be92;
    position: relative;
    height: 10px;
    width: 94%;
    border-radius: 5px 5px 0 0;
    border: 1px solid #472b29;
    display: flex;
}

.lettuce .lettuce__circle {
    background-color: #60be92;
    height: 10px;
    z-index: 2;
    width: 14px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    border-bottom: 1px solid #472b29;
}

.tomato {
    background-color: #f15b6c;
    position: relative;
    height: 12%;
    width: 100%;
    border-radius: 2px;
    border-left: 1px solid #472b29;
    border-right: 1px solid #472b29;
}

.patty {
    background-color: #b77748;
    position: relative;
    height: 18%;
    width: 102%;
    border-radius: 4px;
    border: 1px solid #472b29;
}

.patty .cheese {
    background-color: #fef6aa;
    width: 98%;
    clip-path: polygon(85% 1%, 64% 24%, 29% 100%, 18% 43%, 0 0);
    height: 70%;
    position: relative;
}

.pickle {
    width: 3rem;
    height: 3rem;
    border-radius: 45%;
    background-color: #5e6203;
    display: grid;
    place-items: center;
}

.outer-layer {
    width: 2.8rem;
    height: 2.8rem;
    background-color: #e2d344;
    color: #e2d344;
    border-radius: 45%;
    border: none;
    border-style: solid;
    display: grid;
    place-items: center;
}

.inner-layer {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 62% 24% 24% 40% / 68% 34% 20% 30%;
    background-color: #c9a81b;
    position: relative;
}

.seeds {
    height: 2px;
    width: 5px;
    border-radius: 0% 100% 19% 80% / 0% 77% 21% 100%;
    background-color: #e2d344;
    position: absolute;
}

.seeds:first-child {
    top: 10%;
    left: 50%;
    rotate: 10deg;
}

.seeds:nth-child(2) {
    top: 13%;
    left: 20%;
    rotate: 120deg;
}

.seeds:nth-child(3) {
    top: 50%;
    left: 20%;
    rotate: 40deg;
}

.seeds:nth-child(4) {
    top: 70%;
    left: 55%;
    rotate: 140deg;
}

.burger {
    width: 128px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crown .beat-up {
    position: absolute;
    top: 20%;
    left: 70%;
    rotate: 140deg;
    font-size: 1rem;
    font-weight: 100;
    user-select: none;
}
