.retro {
  --square-width: min(70px, 7vw);
  --square-height: min(90px, 9vw);
  perspective: 360px;
  perspective-origin: 50% 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.retro--show-border::before {
  border-width: 1.5px 4px;
  border-style: solid;
  border-color: #FFF;
  box-shadow: 1px 1px 5px rgba(139, 101, 77, 0.2);
}

.retro::before {
  --wire-color: rgb(194, 194, 194);
  content: "";
  position: absolute;
  width: 200%;
  height: 360px;
  left: -50%;
  bottom: -60px;
  border-radius: 5px;
  background-image:
    linear-gradient(var(--wire-color) 2px, transparent 2px),
    linear-gradient(90deg, var(--wire-color) 2px, transparent 2px);
  background-size: var(--square-width) var(--square-height);
  background-position: 0 calc(-1 * var(--square-width)), 0 0;
  transform: rotateX(85deg);
  animation: planeMoveTop 5s infinite linear;
}

@keyframes planeMoveTop {
  from {
    background-position: 0 calc(-1 * var(--square-width)), 0 0;
  }
  to {
    background-position: 0 0, var(--square-height) 0;
  }
}
