.retro {
    perspective: 360px;
    perspective-origin: 50% 50%;
    position: absolute;

    height: 100%;
    width: 100%;
    z-index: -1;
}

.retro--show-border::before {
    border-width: 1.5px 4px;
    border-style: solid;
    border-color: #FFF;
    box-shadow: 1px 1px 5px rgba(139, 101, 77, 0.2);
}

.retro::before {
    --wire-color: rgb(194, 194, 194);

    content: "";

    left: 0;
    width: 200%; height: 340px;
    left: -50%;

    position: absolute;

    border-radius: 5px;

    bottom: -60px;

    background-image: -webkit-linear-gradient(var(--wire-color) 2px, transparent 2px), -webkit-linear-gradient(left, var(--wire-color) 2px, transparent 2px);
    background-size: 70px 70px, 90px 90px;
    background-position: 0px -70px, 0px 0px;

    transform: rotateX(85deg);
    animation: planeMoveTop 5s infinite linear;
}

@keyframes planeMoveTop {
    from {
        background-position: 0px -70px, 0px 0px;
    }
    to {
        background-position: 0px 0px, 90px 0px;
    }
}
