.gallery {
    display: grid;
    width: calc(100vw - 100px);
    grid-template-columns: repeat(auto-fill, 400px);
    align-items: stretch;
    gap: 1.5rem 0.5rem;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.gallery > * {
    position: relative;
    width: fit-content;
    height: 100%;
}

@media screen and (max-width: 1300px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, 300px);
        justify-items: center;
        width: 100vw;
    }
}

.heading__wrapper {
    width: calc(100vw - 170px);
}
