@import "../Card/Card.css";

.gallery {
    position: relative;
    width: 90vw;
    margin-bottom: 5rem;
}

.gallery > * {
    position: relative;
    width: fit-content;
    height: 100%;
}

.heading__wrapper {
}
