.login-button--container {
    gap: .4rem;
    margin-right: 2rem;
}

    .login-button--container .login-button {
        padding: var(--navbar-item-padding);
        width: var(--navbar-item-width);
        max-width: var(--navbar-item-max-width);
        border-radius: var(--navbar-item-border-radius);
        border: 1px solid #FFF;
        transition: background .2s ease-in-out;
    }

    .login-button--container .login-button:hover {
        background: #DDD;
    }

    .login-button--container .login-button:first-child {
        padding: var(--navbar-item-padding);
        width: var(--navbar-item-width);
        max-width: var(--navbar-item-max-width);
        border-radius: var(--navbar-item-border-radius);
        border: none;
    }
