<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.llcode.backend</string>
    <key>Program</key>
    <string>/Users/blackfish/personal-portfolio/server/target/release/server</string>
    <key>WorkingDirectory</key>
    <string>/Users/blackfish/personal-portfolio/server</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/blackfish/Library/Logs/com.llcode.backend.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/blackfish/Library/Logs/com.llcode.backend.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>MARKDOWN_POSTS_STORE_LOCATION</key>
        <string>/Users/blackfish/Markdown</string>
    </dict>
</dict>
</plist>
